@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}body{
      font-family: 'Marcellus', serif;
      font-size: 16px;
}
   
    h1,h2,h3,h4,h5{
      font-family: 'Marcellus', serif;
}
 
*{
      margin: 0%;
}section{
      display: flex;
}
.menu{
      
      color: white;
      display: flex;
      flex-direction: column;  
}.mrd{
      display: flex;
      flex-direction: column;
}
.mrd a i{
      display: flex;
      align-items: center;
}
.encabezado{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 7%;
      height: 30%;
      background: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}.logo img{
      width: 60%;   
}.logo{
      display: flex;
      justify-content: center;
}.desc{
      display: flex;
      justify-content: flex-end;
}.opciones{
      padding: 3%;
      display: flex;
      justify-content: space-between;
      height: 100%;
      background-color: rgb(51, 51, 71);
      display: flex;
      flex-direction: column;
}.cerrar a{
      width: 65%;
      margin-left: 35%;
      background-color: rgba(0, 0, 0, 0.205);
      display: flex;
      justify-content: flex-end;
}
a{     
      text-decoration: none;
}i{
     transition: .3s all ease;
      margin: 5%;
      color: white;
}.ho:hover{
      background-color: var(--azuloscuro);
      width: 90%;
      height: 100%;
}/*  datos izquierda*/
.datos{
      height: 1007px;
      background: url();
      background-size: cover;
      flex: 7 1 auto;
      }
.contenido{
      width: 90%;
      height: 90%;
      position: relative;
      background-color: #ffffff93;
      margin-left: 5%;
      margin-top: 3%;
      border-radius: 10px;
     
}.titulo{
      display: flex;
      justify-content: center;
      padding: 1%;
      font-size: 2rem;
}