@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    font-family: 'Marcellus', serif;
    font-size: 16px;
    background-color: whitesmoke;
    
}.grid-container{
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(50, 1fr);
      grid-template-rows: repeat(50, 1fr);
}.opciones{
      grid-row: 1 / 51;
      grid-column: 1 / 8;
      
}.habitaciones{
      background-color: whitesmoke;
      grid-row: 1 / 51;
      grid-column: 8 / 51;
}.encabezado{
      background: url(../img/foto.jpeg);
     background-size: cover;
      display: flex;
      flex-direction: column;
      padding: 5%;

}.encabezado img{
      width: 90%;
      padding: 5%;
      margin-top: 2%;
      margin-bottom: 15%;
      display: flex;
      

}.tit{
      display: flex;
      justify-content: space-around;
      font-size: 0.6em;
      margin-bottom: 6%;
}
.tit img{
      height: 75%;
      width: 25%;
      margin-bottom: -2%;
}#texto{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
}.opciones{
      background: rgb(34, 32, 58);
      height: 100%;
      
}.icon{
      display: flex;
      align-items: center;
      margin-top: 20%;
      margin-left: 10%;
      height: 1em;
      font-size: 1.2em;
}a{
      text-decoration: none;
      color: white;
      
}.icon:hover{
      background-color: #0B3860;
      width: 90%;
      height: 2em;
}.icon i{
      margin-right: 5%;
}.icon a{
      width: 100%;
}.iconos{
      margin-top: 5%;
}#opciones{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 112vh;
      background: rgb(34, 32, 58);
}.icon2{
      display: none;
}
/* contenido */

.contenido{
      display: flex;
      flex-direction: column;
}.tittle{
      display: flex;
      justify-content: center;
      font-size: 1.5em;
      margin-top: 1%;
      margin-bottom: 1%;
}.busqueda{
      background-color: rgba(219, 219, 219, 0.623);
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 3em;
      font-size: 1.12em;
     
}.opc select{
      width: 11em;
      height: 2em;
}.cards{
      padding: 3%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
}.card{
      background-color: white;
      padding: 1.5%;
      width: 25%;
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      

}.card img{
      width: 100%;
}.card h1{
      display: flex;
      justify-content: center;
      margin-top: 2%;
}.modify{
      margin-top: 4%;
      display: flex;
      justify-content: space-around;
}#reser{
      margin-top: -10%;
      font-size: 1.5em;
      color: white;
      background-color: rgba(2, 112, 238, 0.596);
}#button2{
      background-color: var(--Magenta);
      color: var(--blanco);
      width: 30%;
      font-size: 1em;
      height: 2em;
}#button1{
      background-color: var(--negro);
      color: var(--blanco);
      width: 30%;
      font-size: 1em;
      height: 2em;
}.cerrar{
      margin-bottom: 70%;
      margin-left: 10%;
}
/*tablet*/
@media screen and (min-width: 720px) and (max-width:1024px) {
      .opciones{
            grid-row: 1 / 51;
            grid-column: 1 / 12;
            
      }.habitaciones{
            background-color: whitesmoke;
            grid-row: 1 / 51;
            grid-column: 12 / 51;
      }#texto{
            display: none;
      }.tit img{
            width: 35%;
      }.icon{
            font-size: 1.1em;
      }.cards{
            padding: 3%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
      }.card{
            background-color: white;
            padding: 1.5%;
            width: 40%;
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;
            
      
      }.card img{
            width: 100%;
      }.card h1{
            display: flex;
            justify-content: center;
            margin-top: 2%;
      }.modify{
            margin-top: 4%;
            display: flex;
            justify-content: space-around;
      }#reser{
            margin-top: -10%;
            font-size: 1.5em;
            color: white;
            background-color: rgba(2, 112, 238, 0.596);
      }#button2{
            background-color: var(--Magenta);
            color: var(--blanco);
            width: 40%;
            font-size: 1em;
            height: 2em;
      }#button1{
            background-color: var(--negro);
            color: var(--blanco);
            width: 40%;
            font-size: 1em;
            height: 2em;
      }
}
@media screen and (min-width:320px) and (max-width:779px) {
      .opciones{
            grid-row: 1 / 51;
            grid-column: 1 / 14;
            
      }.habitaciones{
            background-color: whitesmoke;
            grid-row: 1 / 51;
            grid-column: 14 / 51;
      }#texto{
            display: none;
      }.tit img{
            width: 60%;
      }.iconos{
            display: none;
      }.icon2{
            display: flex;
            flex-direction: column;
            margin-top: 50%;
            margin-left: 25%;
      }.tittle{
            margin-top: 5%;
            font-size: 1em;
            margin-bottom: 10%;
      }.busqueda{
            height: 5em;
            display: flex;
            flex-direction: column;
      }.opc{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 3%;
            margin-top: 3%;
      }.opc label{
            margin-right: 10%;
      }#estado{
            margin-left: 4%;
      }
      .cerrar a{
            font-size: 0.001em;

      }.cerrar i{
            font-size: 1000em;
      }.icon{
            margin-bottom: 30%;
      }.cards{
            padding: 3%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
      }.card{
            background-color: white;
            padding: 1.5%;
            width: 45%;
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;
            
      
      }.card img{
            width: 100%;
      }.card h1{
            display: flex;
            justify-content: center;
            font-size: 1em;
            margin-top: 2%;
      }.card p{
            font-size: 0.8em;
      }.modify{
            margin-top: 4%;
            display: flex;
            justify-content: space-around;
      }#reser{
            margin-top: -10%;
            font-size: 0.8em;
            color: white;
            background-color: rgba(2, 112, 238, 0.596);
      }#button2{
            background-color: var(--Magenta);
            color: var(--blanco);
            width:50%;
            font-size: 0.6em;
            height: 1.8em;
      }#button1{
            background-color: var(--negro);
            color: var(--blanco);
            width:50%;
            font-size: 0.6em;
            height: 1.8em;
      }
}